.main{
    background-color: #EEE2E1;
}

.heading{
    color: #000;
    font-family: Inria Serif;
    font-size:2.2vw;
    font-weight: bold;
    text-decoration-line: underline;
    margin-left: 8VW;
    margin-top: 2vw;
    
}

.filled-box{
    width: 86VW;
    height :23VW;
    background: #9D8B70;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    margin-left: 9VW;
    margin-top:3VW;  
    padding-left: 7vw;
    padding-top: 3VW;
}

.addCatcontainer{
    height: 12%;
    width: 40%;
   position: relative;
}
.inputCat{
    font-family: Inria Serif;
    font-size: 26px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid;
    border-color: #bbaf9c;
    background-color: transparent;
    position: relative;
   
}
.inputCat:focus{
    border:#bbaf9c;
}
.inputCat::placeholder{
    color:#EEE2E1;
    padding-left: 1vw;
}


.row .categoryitem{
    display: inline-block;
    margin-right:4VW;
}
.line{ 
    width: 68vw;
    color:#bbaf9c;
   
    margin-top: 1.8VW;
    margin-bottom: 1.8VW;
}

.Box .rectangle{
    margin-left: 7VW;
    margin-top: -20vw;
    border: 4px solid;
    border-color: #9d8b70;
    width: 82VW;
    height :24VW;
}

.buttonsactions{
    display:inline-block;
    margin-left: 16VW;
    position: relative;
    top: -2Vw;
}
.buttonsactions .removebutton, .buttonsactions .savebutton{
    background-color:#EEE2E1;
}
.savebutton , .removebutton{
    width: 12VW;
    height: 4VW;
    border-radius: 32Vw;
    border: 0.3VW solid #9D8B70;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
    color: black;
    font-family: Inria Serif;
    font-size: 2VW; 
    margin-right: 2VW;
}
.savebutton:hover , .removebutton:hover{
    text-decoration: underline white;
    background-color: #9D8B70;
    color: white;
}

.checklabel
{
    display:flex;
    margin-right:4VW ;
}

