.BackButton{
    display: flex;
    width: 130px;
    height: 2.7vw;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 28px;
    border: 3px solid #9B896C;
    color: #9B896C;
    /* top: 0; */
    /* right: 0; */

}
.back{
    align-items: center;
    display: flex;
    gap: 12px;
    color: #9B896C;
    font-family: Inria Serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




